services:
  honeypot:
    build: 
      context: ./http_honeypot
      dockerfile: Dockerfile.honeypot
    container_name: http-honeypot
    ports:
      - "8080:8080"
    restart: unless-stopped
    working_dir: /app
    security_opt:
      -  seccomp=./http_honeypot/seccomp_filter.json
    networks:
      - ids-network

  ids:
    build:
      context: ./http_honeypot
      dockerfile: Dockerfile.ids
    container_name: scapy-ids
    working_dir: /app
    command: python sniff.py
    networks:
      - ids-network
    network_mode: ""

    cap_add:
      - NET_ADMIN

networks:
    ids-network:
      driver: bridge
